/*Global*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

/*Header*/

.logo {
  width: 170px;
  height: 31px;
  float: left;
}

.logo img {
  width: 150px;
}

.logo a { position: relative;}

.logo a::after {
  content: "Testnet";
  position: absolute;
  bottom: -14px;
  font-size: 13px;
  left: 44px;
  color: #2990ff;
  line-height: 1;
  font-weight: 600;
}

.logo h1 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: -8px;
}

.logo h1::after {
  content: "Testnet";
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  left: 0;
  color: #7522e2;
}


.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

/* menu*/

.ant-layout-header {
  background: #001529;

}

.ant-layout-header-wr {
  max-width: 1200px;
  margin: 0 auto;
}

.ant-menu-dark.ant-menu-horizontal {
  float: left;
  line-height: 64px;
}

.ant-menu-item, .ant-menu-submenu-title {
  padding: 0 12px;
}

.ant-nav-dropdown {
  color: rgba(255, 255, 255, 0.65);
  padding: 0 10px;
}

/*Content*/

.content-wrap {
  max-width: 1200px;
  margin: 20px auto;
}

.ant-avatar-square {
  background: #7522e2;
}

.ant-row {
    margin-bottom: 10px;
}

.social-links {
  display: inline-block;
  float: right;
  padding: 0 24px;
}

.social-links a {
  margin-right: 10px;
}

.social-link {
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.social-link:hover {
  opacity: 0.75;
}

.social-link img {
margin-bottom: 1px;
}

.remme-stat-list span {
  float: right;
  background: #7522e2;
  color: #fff;
  border-radius: 20px;
  padding: 0px 5px;
  font-size: 13px;
  font-weight: 600;
}

.remme-stat-list .ant-list-item-content {
  display: block;
}
